/* BREADCRUMBS STYLES
   ----------------------------- */
   
.breadcrumb {
	background: none;
	padding: 0;
	font-size: 18px;
	margin-top: 0.5em;
	// margin-left: 0.7em;
	color: $colorOrange !important;

    a {
    	color: $breadcrumbLinkColor;

    	i {
    		font-size: 11px;
    	}
	}

	.breadcrumb-item {
		&.active {
			color: #777;
	
			a {
				color: #777;
			}
		}
	}
	
	

    > li + li {
    	&:before {
			content: "\f054"!important;
			color: darken($colorOrange, 10%)!important;
		    font-family: 'FontAwesome';
		    font-size: 10px;
    	}
    }
}