/* CARD STYLES
   ----------------------------- */

.card {
	// background: $sidenavBgColor;
	background: white;
	border-radius: $cardRoundedCorner;
	@include cardShadow;
	border: 0;
	margin-bottom: 20px;

	hr {
		margin-left: -$panelPadding;
		margin-right: -$panelPadding;
		border-color: #ebeef2; 
	}
}

.card-header,
.card-footer {
	color: $panelHeadingColor;
	padding: $panelPadding $panelPadding;
	border-color: transparent;
	position: relative;
	font-size: $panelHeadingFontSize;
	background-color: transparent;
}

.card-header {
	padding-bottom: 0;
}

.card-body {
	// color: white;
	// font-weight: bold;
	padding: $panelPadding $panelPadding;
}

.card-body input {
	margin-right: 1em;
	width: 1.2em;
	height: 1.2em;
}

.card-body b {
	font-size: 1.2em;
	cursor: pointer;
	color: $colorInfo;
}

.card-footer {
	border-color: #dcdcdc;
}

// &.bg-transparent {
// 	background: transparent;
// 	box-shadow: none;

// 	.panel-heading {
// 		background: transparent;
// 		border-bottom: 0;
// 	}
// }

