/* PAGE STYLES
   ----------------------------- */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f4f7;// #2d4161;
}

#page-content {
  width: 100%;
  position: relative;
  margin-left: $sidebarWidth;

  &.has-alert {
    margin-top: 48px;
  }
}
#primary-content {
  padding: $pageContentPadding;
  .fixed-header {
    background: #ffffff;
    padding-top: 70px;
    width: 100%;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    z-index: 70;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.03), 0 1px 8px rgba(0, 21, 41, 0.12);
  }
  .fixed-content {
    margin-top: 110px;
  }
  .no-fixed-content {
    margin-top: -60px;
  }
}
.page-container {
  width: 100%;
  margin: auto;
  max-width: 1170px;
}
.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}
.app-body {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}
.content-wrap {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 3px;
  @include cardShadow;
}
.full-bleed-content {
  margin: -$pageContentPadding;
}
.narrow-page-container {
  max-width: 1000px;
  margin: auto;
}

// Responsive

//collapsed side menu
@media screen and (min-width: $breakPointSm) {
  .side-menu-collapsed {
    #page-content {
      margin-left: 50px;
    }
  }
  .no-fixed-content {
    margin-top: 60px !important;
  }
}
@media screen and (max-width: $breakPointSm) {
  #page-content {
    margin-left: 0px;
    margin-top: 150px;
  }
}
@media screen and (max-width: $breakPointXs) {
  #page-content {
    margin-top: 150px;
  }
}

#actionCreate {
  margin-top: 50px;
}